/* CSS Document */
#menuUti {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 11;
  padding: 10px 0;
  text-align: center;
  box-sizing: border-box;
}
#menuUti a {
	color:#fff;
	text-decoration:none;
}

#menuUti .cerveau-avatar {
  width: 100px;
  height: 100px;
  background-color: #191919;
  border-radius: 50px;
  border: 4px solid #D44043;
  box-sizing: border-box;
  margin: auto;
}
.co {display:none;}
#menuUti li {
  width: 150px;
}

#menuUti .cerveau-avatar img{
	width:100%;
}
img.small_image {
  width: 14px;
}
#main_wrapper form {
font-size: 16px;
}
#main_wrapper fieldset {
border:none;
}
/*guigui*/
#main_wrapper input {
box-sizing: border-box;  
-webkit-box-sizing: border-box; 
-moz-box-sizing: border-box;  
outline: 0;  
display: inline-block;  
width: 400px;  
padding: 7px;  
border: 0;
background-color: #ececec; 
margin-bottom: 10px;  
font: 16px Arial,Helvetica,sans-serif;
height: 45px;
text-align: left;
}
/*fin*/

#main_wrapper label {
  width: 100px;
  text-align: left;
  position: relative;
  display: inline-block;
}
#main_wrapper #bRegister {
  background-color: #5A0000;
  display: inline-block;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 14px;
  padding: 8px 18px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}
#main_wrapper #bRegister:hover {
	opacity:0.8;
}
span#coOuPas {
  color: #D44043;
  width: 140px;
  font-family: goth;
}  
.suggestion {
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  padding: 11px 18px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-family: lato;
  width: 400px;
  box-sizing: border-box;
  margin-top: 20px;
  border-top: 1px solid #ececec;

}



/*ESPACE PERSO*/

.contenant_global {
  position: absolute;
  width: 100%;
  left: 0;
  height: 100%;
  top: 0;
}
.perso_global {
  display: inline-block;
  width: 49%;
  vertical-align: top;
  text-align: left;
  padding: 40px 40px 0 40px;
  box-sizing: border-box;
}
.perso_global p {
  text-align: left;
  font-size: 18px;
  color: #8A8A8A;
  padding: 20px 0 10px 30px;
}
.perso_global h1 {
  text-align: left;
  font-size: 60px;
  color: #C900C9;
}
.global2 {
	height: 100%;
  background-color: #1F1F1F;
  margin-left: 15px;
}
.global2 input {
  height: 30px;
  background-color: #2C2C2C;
  border: none;
  outline: none;
  text-align: left;
  padding: 5px 0 5px 15px;
}
.global2 label {
  width: 170px;
  display: inline-block;
  text-align: left;
  color: #8A8A8A;
}
.global1 #contenu {
  height: 200px;
  background-color: #1F1F1F;
  border: none;
  margin-top: 35px;
  outline: none;
  font-family: lato;
  margin-bottom: 25px;
  float: none;
  width: 100%;
}
.perso_submit {
  background-color: #5D155E;
  color: #fff;
  border: none;
  padding: 10px;
  font-family: Lato;
  display: block;
  margin: 0 auto;
  outline: none;
  width: 100%;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
}
.perso_submit:hover {background-color: #C900C9;transition:all linear 0.1s;}
section.perso_recomp {
  display: inline-block;
  width: 33%;
  position: relative;
  vertical-align: top;
  box-sizing: border-box;
}
section.perso_recomp img {
  width: 100%;
}
section.perso_recomp h1 {
font-size: 50px;
  color: #C900C9;
}
.perso_recomp:first-child {
  background-color: #191919;
}
.perso_recomp:nth-child(2) {
  background-color: #1F1F1F;
}
.perso_recomp:nth-child(3) {
  background-color: #242424;
}