html{
	background: rgb(101, 92, 137);
		font-family: "Lato", sans-serif;
}
a:active,a:focus {
	outline: expression(hideFocus='true');
}
#vign_overlay {
position:fixed;
width:100%;
height:100%;
z-index:9;
top: 0;
  left: 0;
}
.tabs_aside p{
	margin-bottom: 20px;
  font-size: 19px;
  background-color: #544F6B;
  padding: 1rem;
  color: #B8AFDA;
}
								/*rouge*/
.tabs_rouge .tabs_aside p {
	background-color: #F44336;
	color: #ffffff;
}
.tabs_rouge li a {
	background-color: #F44336;
	color: #FAA39D;
	transition:all linear 0.2s;
}
.tabs_rouge li a:hover {
	background-color: #A52A21;
	color: #FAA39D;
	transition:all linear 0.2s;
}
.tabs_rouge .ui-state-active a {
	color: #F44336 !important;	
}
.tabs_rouge #but_cancel {background-color: #F44336;}

								/*rouge foncé*/
.tabs_rougeFonce .tabs_aside p {
	background-color: #5B0000;
	color: #ffffff;
}
.tabs_rougeFonce li a {
	background-color: #5B0000;
	color: #FAA39D;
	transition:all linear 0.2s;
}
.tabs_rougeFonce li a:hover {
	background-color: #A52A21;
	color: #FAA39D;
	transition:all linear 0.2s;
}
.tabs_rougeFonce .ui-state-active a {
	color: #5B0000 !important;	
}
.tabs_rougeFonce #but_cancel {background-color: #5B0000;}

								/*orange*/

.tabs_orange .tabs_aside p {
	background-color: #FC9600 ;
	color: #ffffff;
}
.tabs_orange li a {
	background-color: #FC9600;
	color: #FFBE5E;
	transition:all linear 0.2s;
}
.tabs_orange li a:hover {
	background-color: #FFBE5E;
	color: #FC9600;
	transition:all linear 0.2s;
}
.tabs_orange .ui-state-active a {
	color: #FC9600  !important;	
}
.tabs_orange #but_cancel {background-color: #FC9600;}

								/*bleu*/
.tabs_bleu .tabs_aside p {
	background-color: #1E83D4;
	color: #ffffff;
}
.tabs_bleu li a {
	background-color: #0e3d62 ;
	color: #1E83D4;
	transition:all linear 0.2s;
}
.tabs_bleu li a:hover {
	background-color: #1E83D4;
	color: #0e3d62;
	transition:all linear 0.2s;
}
.tabs_bleu .ui-state-active a {
	color: #1E83D4  !important;	
}
.tabs_bleu #but_cancel {background-color: #1E83D4;}

								/*jaune*/

.tabs_jaune .tabs_aside p {
	background-color: #FFF056;
	color: #191919;
}
.tabs_jaune li a {
	background-color: #191919  ;
	color: #FFEB3B;
	transition:all linear 0.2s;
}
.tabs_jaune li a:hover {
	background-color: #FFEB3B;
	color: #2F2F2F ;
	transition:all linear 0.2s;
}
.tabs_jaune .ui-state-active a {
	color: #FFEB3B   !important;
	background-color:#191919!important;	
}
.tabs_jaune #tabs_container {
	background-color:#191919;
}
.tabs_jaune #but_cancel {background-color: #FFF056;}


								/*rose*/

.tabs_rose .tabs_aside p {
	background-color: #FFF056;
	color: #191919;
}
.tabs_rose li a {
	background-color: #E91E63  ;
	color: #191919;
	transition:all linear 0.2s;
}
.tabs_rose li a:hover {
	background-color: #2F2F2F;
	color: #FFEB3B ;
	transition:all linear 0.2s;
}
.tabs_rose .ui-state-active a {
background: #191919 !important;
  color: #E91E63 !important;
}
.tabs_rose #tabs_container {
	background-color:#191919;
}
.tabs_rose #but_cancel {background-color: #E91E63;}


								/*Violet*/

.tabs_violet .tabs_aside p {
	background-color: #FFF056;
	color: #191919;
}
.tabs_violet li a {
	background-color: #5E165E  ;
	color: #8B308B;
	transition:all linear 0.2s;
}
.tabs_violet li a:hover {
	background-color: #C900C9;
	color: #5E165E ;
	transition:all linear 0.2s;
}
.tabs_violet .ui-state-active a {
	color: #C900C9   !important;
	background-color:#191919!important;	
}
.tabs_violet #tabs_container {
	background-color:#191919;
}
.tabs_violet #but_cancel {background-color: #5E165E;}


#imgTest {
  position: absolute;
  top: 190px;
  right: 400px;
  z-index: -1;
  width:150px;
}

#tabs li a:hover,#tabs2 li a:hover,#tabs3 li a:hover,#tabs4 li a:hover,#tabs5 li a:hover {
	/*background: rgb(78, 74, 99);*/
}

#tabs ul {
	position:relative;	
}
#wrapper {
	width: 960px;
	margin: 0 auto;
	margin-top: 100px;
}
#tabs,#tabs2,#tabs3,#tabs4,#tabs5 {
	width: 60%;
	margin: 0 auto;
	margin-bottom: 40px;
	z-index: 10;
  	position: relative;
	transition:height 0.5s;
}

#tabs li,#tabs2 li,#tabs3 li,#tabs4 li,#tabs5 li {
	float: left;
	margin-right: 2px;
}

#tabs li a,#tabs2 li a,#tabs3 li a,#tabs4 li a,#tabs5 li a {
	display: block;
	padding: 17px 30px;
	/*background: #544f6b;*/
	text-decoration: none;
	/*color: #8478B3;*/
	outline: none;
	font-size: 30px;
  	text-transform: uppercase;
	border-radius: 9px 9px 0 0;
}

#tabs li a:hover,#tabs2 li a:hover,#tabs3 li a:hover,#tabs4 li a:hover,#tabs5 li a:hover {
	/*background: rgb(78, 74, 99);*/
}

#tabs_container {
	padding: 40px;
	overflow: hidden;
	position: relative;
	background: white;
	min-height: 200px;
	clear: both;
}

#tabs_container div {
	margin-right: 40px;
}

.transition {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;

	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-o-transition-delay: .3s;
	-ms-transition-delay: .3s;
	transition-delay: .3s;
}

.make_transist {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.hidescale {
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-o-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	filter: alpha(opacity=0);
	opacity: 0;
}

.showscale {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;

	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-o-transition-delay: .3s;
	-ms-transition-delay: .3s;
	transition-delay: .3s;
}

.hideleft {
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}

.showleft {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-o-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform: translateX(0px);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;

	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-o-transition-delay: .3s;
	-ms-transition-delay: .3s;
	transition-delay: .3s;
}

.hidescaleup {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}

.showscaleup {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;

	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-o-transition-delay: .3s;
	-ms-transition-delay: .3s;
	transition-delay: .3s;
}

.hideflip {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;

	-webkit-transform: rotatey(-90deg) scale(1.1);
	-moz-transform: rotatey(-90deg) scale(1.1);
	-o-transform: rotatey(-90deg) scale(1.1);
	-ms-transform: rotatey(-90deg) scale(1.1);
	transform: rotatey(-90deg) scale(1.1);

	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.showflip {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;

	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-o-transition-delay: .3s;
	-ms-transition-delay: .3s;
	transition-delay: .3s;

	-webkit-transform: rotatey(0deg) scale(1);
	-moz-transform: rotatey(0deg) scale(1);
	-o-transform: rotatey(0deg) scale(1);
	-ms-transform: rotatey(0deg) scale(1);
	transform: rotatey(0deg) scale(1);

	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.ui-state-active a {
	background: white !important;
	color: #655c89 !important;
}

.tabulousclear {
	display: block;
	clear: both;
}